/*
* 公共样式
*/
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8w11jh');
    src:  url('../fonts/icomoon.eot?8w11jh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8w11jh') format('truetype'),
    url('../fonts/icomoon.woff?8w11jh') format('woff'),
    url('../fonts/icomoon.svg?8w11jh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-notice:before {
    content: "\e999";
}




/*
* 头部区域
*/
header .material-icons {
    font-size: 28px;
    line-height: 56px;
    color: #fff;
}

header div:nth-child(1) {
    height: 56px;
    line-height: 56px;
}
header .header-menu {
    margin-left: 20px;
    line-height: 56px;
    color: #fff;
}
header .header-menu:hover {
    color: #ddd;
}

header .logo img {
    padding-top: 12px;
    width: 32px;
}
@media only screen and (max-width: 600px) {
    header .side-nav {
        width: 240px;
    }
}

header nav.header-search {
    border-radius: 4px;
    margin-top: 8px;
    height: 40px;
    line-height: 40px;
    background-color: #64b5f6;
}
header nav .nav-wrapper i {
    height: 40px;
    line-height: 40px;
}
header nav .nav-wrapper .input-field {
    height: 40px;
    line-height: 40px;
}



.switch label input[type=checkbox]:checked+.lever {
    background-color: #311b92 ;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #5E3881;
}
.switch label .lever {
    background-color: #1565c0;
}
.switch label .lever:after {
    background-color: #1379AC;
}

header .header-grade-box i {
    cursor: pointer;
}
header .header-grade-box i:nth-child(2) {
    margin-left: 10px;
}


header .header-grade-box .material-icons:hover {
    color: #ddd;
}

header .header-grade-box .material-icons:active {
    display: inline-block;
    min-width: 28px;
    font-size: 28px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #1e88e5;
    border-radius: 14px;
}

.header-notice-box {
    position: relative;
}

.header-notice {
    color: #fff;
    font-size: 28px;
    line-height:56px;
    cursor: pointer;
}
.header-notice:hover {
    color: #ddd;
}
.header-notice-badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    left: 24px;
    top: 4px;
}
.home_pagination .pagination .active {
    background-color: #1e88e5;
}
.questionBtn .btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #039be5;
}

.questionBtn .btn:hover {
    background-color: #1e88e5;
}

/* start:提出问题展示的盒子 */
/* 表单下划线的颜色 */
#questionBox .input-field input[type=text]:focus {
    border-bottom: 1px solid #1e88e5;
    box-shadow: 0 1px 0 0 #1e88e5;
}
/* 表单点击后文本的颜色 */
#questionBox .input-field input[type=text]:focus + label {
    color: #1e88e5;
}

#questionBox [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #1e88e5;
}

#questionBox [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #1e88e5;
}

#questionBox [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #1e88e5;
}

#questionBox [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #1e88e5;
}
/* end:提出问题展示的盒子 */
